.hidden {
    display: none;
}

#login-form {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login-form :first-child {
    font-size: large;
}

#greeting {
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#clock {
    color: white;
    font-size: 6em;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#quote {
    color: white;
    position: absolute;
    left: 1%;
    bottom: 1%;
}

body {
    margin: 0;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: multiply;
}

#todo-form {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#todo-list {
    color: white;
    position: absolute;
    top: 55%;
    left: 47%;
    transform: translate(-50%, 0%);
}

input {
    color: white;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
    text-align: center;
}

input::placeholder {
    color: white;
}

input:focus::placeholder {
    color: transparent;
}

button {
    color: red;
    background-color: transparent;
    border: transparent;
}

#weather {
    color: white;
    position: absolute;
    right: 1%;
    top: 1%;
}